<%- include('../partials/header') %>

<h2>Flight List</h2>
    <table>
        <thead>
            <tr>
                <th>Airline </th>
                <th>Airport </th>
                <th>Flight No.  </th>
                <th>Departure Date/Time  </th>
            </tr>
        </thead>
        <tbody>
        <% flights.forEach(function(fl) { %>
            <tr>
                <td style="<%= (fl.departs < new Date()) ? "color: red" : "color: black" %>"><%= fl.airline %></td>
                <td style="<%= (fl.departs < new Date()) ? "color: red" : "color: black" %>"><%= fl.airport %></td>
                <td style="<%= (fl.departs < new Date()) ? "color: red" : "color: black" %>"><%= fl.flightNo %></td>
                <td style="<%= (fl.departs < new Date()) ? "color: red" : "color: black" %>"><%= fl.departs %></td>
                <td ><a href="/flights/<%= fl.id %>" id="details">DETAILS</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>

<%- include('../partials/footer') %>