<%- include('../partials/header') %>

<a href="/flights">Back to Flights</a>
<br><br>

<table id="show-page">
    <thead>
        <tr>
            <th>Airline:</th>
            <th>Airport:</th>
            <th>Flight No:</th>
            <th>Departure Date/Time:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= flight.airline%></td>
            <td align="center"><%= flight.airport%></td>
            <td align="center"><%= flight.flightNo%></td>
            <td><%= flight.departs%></td>
        </tr>
    </tbody>
    </table><br><br>

<div id="ticketDiv">Tickets:</div><br>
<section>
    <% tickets.forEach(function(t) { %>
        <article class="badge"><%= t.seat %></article>
        <article class="badge"><%= t.price %></article>
    <% }) %>
</section>
<a id="newTicket" href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>

<br><br><h2>Add Destination and Arrival Date/Time</h2>
<form id="add-dest-arrival-form" method="POST"
action="/flights/<%= flight._id %>/dest-arrivals">
<label>Destination:</label>
<select name="airport">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="SAN">SAN</option>
    <option value="EWR">EWR</option>
    <option value="LAX" selected>LAX</option>
</select><br><br>
<label>Arrival Date/Time:</label>
<input type="datetime-local" name="arrival">
<br><br>
<input type="submit" value="Add Destination and Arrival" id="addBtn">
</form>

<% if (flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Created On:</th>
                <th>Destination:</th>
                <th>Arrival Date/Time:</th>
                <br><br>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.createdAt.toLocaleDateString() %></td>
                    <td align="center"><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h5>Nothing to Show here!</h5>
<% } %>

<%- include('../partials/footer') %>