<%- include('../partials/header') %>

<a href="/flights">Back to Flights</a>
<br><br>

<section id="show-page">
    <div>Airline:</div>
    <div><%= flight.airline%></div>
    <div>Airport:</div>
    <div><%= flight.airport%></div>
    <div>Flight No.:</div>
    <div><%= flight.flightNo%></div>
    <div>Departure Date/Time:</div>
    <div><%= flight.departs%></div>
</section>

<br><br><h2>Add Destination and Arrival Date/Time</h2>
<form id="add-dest-arrival-form" method="POST"
action="/flights/<%= flight._id %>/dest-arrivals">
<label>Destination:</label>
<select name="destination">
    <option value="AUS">AUS</option>
    <option value="DFW">DFW</option>
    <option value="DEN">DEN</option>
    <option value="SAN">SAN</option>
    <option value="EWR">EWR</option>
    <option value="LAX" selected>LAX</option>
</select>
<label>Arrival Date/Time:</label>
<input type="datetime-local" name="arrival">
<input type="submit" value="Add Destination and Arrival">
</form>

<% if (flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Created On:</th>
                <th>Destination:</th>
                <th>Arrival Date/Time:</th>
                <br><br>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.createdAt.toLocaleDateString() %></td>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <h5>Nothing to Show here!</h5>
<% } %>

<%- include('../partials/footer') %>